modules = ["python-3.11"]
[nix]
channel = "stable-24_05"

run = "python3 app.py"

[deployment]
run = ["python3", "app.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80

[workflows]

[[workflows.workflow]]
name = "python3 app.py"
mode = "sequential"
author = 46156711

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 app.py"

[agent]
expertMode = true
