[Unit]
Description=Berishmot Telegram Bot + VK feed
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/berishmot
EnvironmentFile=/opt/berishmot/.env
ExecStart=/opt/berishmot/venv/bin/python app.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
